

.title h3{
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 50%;
    margin-left: 110px;
    display: block;
    
}
        
